html {
  font-size: 16px; /* 1 */
}

body {
  background: $c-white;
  color: $c-deep-blue;
}

a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  white-space: nowrap !important;
}

.content-wrapper {
  padding-top: 3rem;
  padding-bottom: 6rem;
  min-height: 84vh;
}

.card {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1) !important;
  border: 1px solid rgba(0, 0, 0 , 0.2) !important;
}

.bg-deep-blue {
  background: $c-deep-blue;
}