<article class="card">
  <a [routerLink]="['/properties', property.uid]">
    <div class="card-img-container">
      <img src="{{ property.thumbnailUrl }}" alt="Photo of the property at {{ property.addressLine1 }}, {{ property.town }}, {{ property.postcode }}">
    </div>
  </a>
  <div class="card-body">
    <h1 class="card-title">
      <span [innerHTML]="property.addressLine1 | formatFullAddress:property.addressLine2:property.town:property.postcode:false:true"></span>
    </h1>
    
    <dl class="dl dl--small dl--justified">
      <hr>
      <ng-template [ngIf]="!!property.crunch && !!property.crunch.strg">
        <div class="dl-row">
          <dt>Strategy: </dt>
          <dd>{{ !!property.crunch.strg ? strategies[property.crunch.strg].value : 'N/A' }}</dd>
        </div>
      </ng-template>
      
      <ng-template [ngIf]="!property.comparables || !property.comparables.length">
        <div class="dl-row"><b class="text-danger">No comparables!</b></div>
      </ng-template>
      <div class="dl-row" *ngIf="!!property.comparables && !!property.comparables.length">
        <dt>Comparables: </dt>
        <dd>{{ !!property.comparables && !!property.comparables.length ? property.comparables.length : 0 }}</dd>
      </div>
      
      <ng-template [ngIf]="!property.crunch || !property.crunch.BTL || !property.crunch.FLP">
        <div class="dl-row"><b class="text-danger">No crunch!</b></div>
      </ng-template>
      <ng-template [ngIf]="property.crunch.strg === strategies.BTL.key && !!property.crunch.BTL">
        <div class="dl-row">
          <dt>Maximum offer: </dt>
          <dd>{{ property.crunch.BTL.calc.mop | appCurrency }}</dd>
        </div>
        <div class="dl-row">
          <dt>ROI: </dt>
          <dd>{{ property.crunch.BTL.calc.roi }}</dd>
        </div>
      </ng-template>
      <ng-template [ngIf]="property.crunch.strg === strategies.FLP.key && !!property.crunch.FLP">
        <div class="dl-row">
          <dt>Maximum offer: </dt>
          <dd>{{ property.crunch.FLP.calc.mop | appCurrency }}</dd>
        </div>
        <div class="dl-row">
          <dt>Profit: </dt>
          <dd>{{ property.crunch.FLP.calc.prof | appCurrency }}</dd>
        </div>
      </ng-template>
      <ng-template [ngIf]="!!property.crunch">
        <hr>
      </ng-template>

      <div class="dl-row">
        <dt>Type:</dt>
        <dd>{{ property.bedrooms }} bedroom <span style="text-transform: lowercase;" *ngIf="!!property.type">{{ propertyTypes[property.type].value }}</span></dd>
      </div>
      <div class="dl-row">
        <dt>Asking price: </dt>
        <dd>{{ property.askingPrice | appCurrency }}</dd>
      </div>
      <div class="dl-row">
        <dt>Deal type: </dt>
        <dd>{{ !!property.dealType ? dealTypes[property.dealType].value : 'N/A' }}</dd>
      </div>
      <div class="dl-row">
        <dt>{{ property.dealType === dealTypes.AUC.key ? 'Auction' : 'Market' }} date:</dt>
        <dd>{{ property.marketTimestamp | timeFromNow }}</dd>
      </div>
      <hr>
      <div class="dl-row">
        <dt>Last activity: </dt>
        <dd>{{ lastActivityTimestamp | timeFromNow }}</dd>
      </div>
      <div class="dl-row" *ngIf="!!property.offers && !!property.offers.length">
        <dt>Last offer: </dt>
        <dd>
          {{ property.offers[property.offers.length-1].price | appCurrency }} ({{ property.offers[property.offers.length-1].timestamp | timeFromNow }})
        </dd>
      </div>
      <div class="dl-row" *ngIf="!property.offers || !property.offers.length">
        <b class="text-danger">No offers!</b>
      </div>
    </dl>
    <hr>
    <div class="text-right">
      <a [routerLink]="['/properties', property.uid]" class="btn btn-primary btn-sm">View property card</a>
    </div>
  </div>
</article>