.link-with-icon {
  position: relative;
  padding: 0.4rem;
  left: -0.4rem;
  font-size: 1.2rem;
  line-height: 1.4rem;

  &__icon {
    position: relative;
    top: -1px;
    
    svg {
      fill: $c-a11y-blue;
    }
  }

  &__label {
    color: $c-a11y-blue;
  }
}