table {
  cursor: default;
  
  &.align-middle {
    th, td {
      vertical-align: middle;
    }
  }

  &.table--fixed-layout {
    table-layout: fixed;
  }

  .tr-selected {    
    td, th {
      background: $c-yellow;
      font-weight: 700;
      border: none;
      border-bottom: 2px solid $c-black;
    }
  }

  caption {
    color: $c-deep-blue;
    caption-side: top;
    padding: 0;
    margin-bottom: 1rem;
  }

  .thead-salmon {
    th {
      background-color: $c-salmon;
      border: 1px solid $c-black;
      color: $c-black;
    }
  }
}