<div class="modal fade" id="addNegotiatorModal" tabindex="-1" role="dialog" aria-labelledby="addNegotiatorModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addNegotiatorModalTitle">Add new negotiator</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          [disabled]="isLoading"
          #addNegotiatorModalCloseButton
          (click)="onClose()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addNegotiatorForm" *ngIf="!isLoading && !isComplete" class="mb-3" autocomplete="off">
          <div class="row justify-content-center">
            <div class="col-11">
              <div class="form-group">
                <label for="firstName" class="form-label">First name</label>
                <input
                  class="form-control"
                  type="text"
                  id="firstName"
                  formControlName="firstName">
              </div>
              <div class="form-group">
                <label for="lastName" class="form-label">Last name</label>
                <input
                  class="form-control"
                  type="text"
                  id="lastName"
                  formControlName="lastName">
              </div>
              <div class="form-group">
                <label for="email" class="form-label">Email</label>
                <input
                  class="form-control"
                  type="text"
                  id="email"
                  formControlName="email">
              </div>
              <div class="form-group">
                <label for="phone" class="form-label">Phone number</label>
                <input
                  class="form-control"
                  type="text"
                  id="phone"
                  formControlName="phone">
              </div>
            </div>
          </div>
        </form>

        <div *ngIf="isLoading || isComplete">
          <div class="row justify-content-center">
            <div class="col-12">
              <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
              <div *ngIf="isComplete" class="text-center">
                <p><img src="assets/icons/icon--octa-check-green.svg" alt="Tick icon" aria-hidden="true"> Your new note has been added.</p>
              </div>
            </div>
          </div>
        </div>
      <div class="modal-footer pr-0">
        <button
          type="button"
          class="btn btn-danger"
          data-dismiss="modal"
          [disabled]="isLoading || isComplete"
          (click)="onClose()">Close</button>
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="!addNegotiatorForm.valid || isLoading || isComplete"
          (click)="onSubmit($event)">Save</button>
      </div>
    </div>
  </div>
</div>
