<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="float-container">
        <h1 class="float-left">Properties ({{ sortedProperties.length }})</h1>
        <a [routerLink]="'new'" class="btn btn-primary btn-sm float-right mt-2 mt-md-3">Add new property</a>
      </div>

      <div class="mt-5 card-grid">
        <div class="row">
          <div
            class="card-wrapper"
            *ngFor="let property of sortedProperties; index as i;">
            <app-property-detail [property]="property"></app-property-detail>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
