.skip-link {
  display: inline-block;
  position: absolute;
  left: -9999rem;
  margin: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  text-align: center;
  color: $c-black;
  background-color: $c-yellow;

  &:focus {
    left: 0;
    z-index: 10000;
    outline: 3px solid $c-black;
    background-color: $c-yellow;
    color: $c-black;
  }
}