// Colours
$c-black: #0d0d0d;
$c-a11y-blue: #0056b1;
$c-deep-blue: #1d3557;
$c-dark-grey: #0b132b;
$c-grey: #626a6e;
$c-salmon: #ff6b6b;
$c-red: #e63946;
$c-green: #2a9d8f;
$c-white: #ffffff;
$c-yellow: #ffdd00;

$c-bs-red: #c82333;