<ng-template appPlaceholder>Confirmation Modal placeholder</ng-template>

<div class="float-container float-container--br-sm mb-3 mb-lg-0">
  <div class="float-left">
    <h2 class="section-heading">Comparables</h2>
  </div>
  <div class="float-right" *ngIf="interactiveMode">
    <a [routerLink]="['/comparables', 'link']" [queryParams]="{propertyId: propertyId}" class="btn btn-primary btn-sm btn-inline">Add a comparable</a>
  </div>
</div>
<p
  *ngIf="!sortedComparables || !sortedComparables.length"
  class="text-danger">You haven't added a comparable yet.</p>

<div *ngIf="!!sortedComparables && !!sortedComparables.length">
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered align-middle table-sm table-responsive-md">
        <caption>This property has {{ sortedComparables.length }} comparable{{ sortedComparables.length > 1 ? 's' : '' }}.</caption>
        <thead class="thead-dark">
          <tr>
            <th scope="col">Photo</th>
            <th scope="col">Address</th>
            <th scope="col">Type</th>
            <th scope="col">Size</th>
            <th scope="col">Sold Price</th>
            <th scope="col">Sold date</th>
            <th scope="col" class="text-center">Notes</th>
            <th scope="col" class="text-center" *ngIf="interactiveMode">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let comparable of sortedComparables; index as i;">
            <td scope="col" class="text-center">
              <a [routerLink]="['/comparables', comparable.uid]" [queryParams]="{propertyId: propertyId}">
                <span class="table-thumbnail">
                  <img src="{{ comparable.thumbnailUrl }}" alt="Photo of {{ comparable.addressLine1 }}">
                  <app-comparable-badge [size]="'small'"></app-comparable-badge>
                </span>
              </a>
            </td>
            <td scope="col">
              <a [routerLink]="['/comparables', comparable.uid]" [queryParams]="{propertyId: propertyId}">
                <span [innerHTML]="comparable.addressLine1 | formatFullAddress:comparable.addressLine2:comparable.town:comparable.postcode:true"></span>
              </a>
            </td>
            <td scope="col">
              <span>{{ comparable.bedrooms }} bedroom </span> <span style="text-transform: lowercase;">{{ !!comparable.type ? propertyTypes[comparable.type].value : '' }}</span>
            </td>
            <td scope="col">{{ comparable.size }}m<sup>2</sup></td>
            <td scope="col">{{ comparable.soldPrice | appCurrency }}</td>
            <td scope="col">{{ comparable.soldTimestamp | toDateTime }}<br>({{ comparable.soldTimestamp | timeFromNow }})</td>
            <td scope="col" class="text-center">{{ comparable.notes.length }}</td>
            <td scope="col" class="text-center" *ngIf="interactiveMode">
              <button
                type="button"
                class="icon-btn icon-btn--danger icon-btn--md"
                (click)="onRemoveComparable(comparable.index)">
                <svg class="icon-btn__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 16" width="12" height="16"><path fill-rule="evenodd" d="M11 2H9c0-.55-.45-1-1-1H5c-.55 0-1 .45-1 1H2c-.55 0-1 .45-1 1v1c0 .55.45 1 1 1v9c0 .55.45 1 1 1h7c.55 0 1-.45 1-1V5c.55 0 1-.45 1-1V3c0-.55-.45-1-1-1zm-1 12H3V5h1v8h1V5h1v8h1V5h1v8h1V5h1v9zm1-10H2V3h9v1z"></path></svg>
                <span class="visually-hidden">Remove {{comparable.addressLine1}} as a comparable from this property</span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>